@import './base.css';

#app {
  min-height: 100dvh;
  position: relative;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: dashed;
    /* font-weight: 900; */
    color: hsla(160, 100%, 37%, 1) !important;
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */
  /* 
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
